{% extends 'template.html' %}
    
{% block content %}
<div class="container">
    <h2>Места досуга в городе {{texts}}</h2>
    <div style="top: 5em; left: 20em; margin-bottom: 1em">
        <form method="POST" action="/search_by_city">
            <input type="text" name="city">
            <button type="submit" class="btn btn-secondary" >Поиск</button>
        </form>
    </div>
    {%if message %}
    {{message}}
    {% endif %}
    <div class="container-fluid">
      {% for (id_places, name, link, image, description, rating, avg_emotion) in data%}
      <div class="row">
        <div class="col-md-5">
          <img class = "img_place" src = {{full_filename}}\{{image}}>
        </div>
        <div class="col-md-5">
          <h3><a class = "places" href = '/comments/{{id_places}}'>{{ name}}</a> </h3>
            {{description}}
        </div>
        <div class="col-md-2">
          {%if rating is not none and avg_emotion is not none%}
          <div class="pie animate no-round" style="--p:{{(rating*100)}}; --c:{% if avg_emotion=='positive'%}green{% elif avg_emotion=='negative'%}red{% else %}orange{% endif %};"> {{'{:.2f}'.format(rating*10)}}</div>
          {% endif %}
        </div>
      </div>
        {% endfor %}  
    </div>
</div>
{% endblock %}