{% extends 'template.html' %}
{% block content %}
<div class="container">
          <div align="center" class="border">
             <div class="header">
                <h2>Регистрация</h2>
             </div>
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Введите имя пользователя" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Введите пароль" class="textbox"/></br></br>
                    <input id="email" name="email" type="text" placeholder="Введите email" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Зарегистрироваться"></br>
                </form>
            <p class="bottom">Есть аккаунт?  <a class="bottom" href="{{url_for('login')}}">Войдите здесь</a></p>
          </div>
        </div>
      </div>
  {% endblock %}