  <!DOCTYPE html>
    <html lang="en">
      <head>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
          <link rel="stylesheet" type="text/css", href="{{url_for('static', filename='css/style.css')}}">
          <meta charset="UTF-8">
          <title>Travelling</title>
      </head>
      <body>
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">Главная</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
              
              <li class="nav-item">
                <a class="nav-link" data-value="about" href="../leisure_venues">Направления</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " data-value="../home_page" href="#">Мои поездки</a>
              </li>
              <li class="nav-item">
                {% if 'loggedin' in session %}
                <a class="nav-link" href="../logout">Выход</a>
                {% else %}
                <a class="nav-link " data-value="contact" href="../home_page">Вход</a>
                {% endif %}
              </li>
            </ul>
          </div>
      </nav>
      {% block content %}  {% endblock %}
      <footer class="footer mt-auto py-3" style="background:white;">
        <div class="container">
          <!--<p class="text-center text-white lead">Полина Железникова &copy; <script type="text/javascript">
            document.write(new Date().getFullYear());
            </script> <img src="VK.png" class="img-fluid"></p>-->
            <p class="text-center text-white lead">
            <a href="https://vk.com/p.zheleznikova"><img src= "{{url_for('static', filename='images/vk.png')}}" class="img-fluid"></a>
            <a href="https://vk.com/p.zheleznikova"><img src= "{{url_for('static', filename='images/github.png')}}" class="img-fluid"></a>
            <a href="https://vk.com/p.zheleznikova"><img src= "{{url_for('static', filename='images/telegram.png')}}" class="img-fluid"></a>
          </p>
      
        </div>
        </footer>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
    </html>  