name: Python Application CI/CD

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Setup docker-compose
      uses: KengoTODA/actions-setup-docker-compose@v1.0.9
      with:
        version: 1.29.1
        
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build images and run tests
      run: |
        docker compose build
        docker-compose run web python -m unittest discover -p "test_*.py"
        docker compose down

    - name: Push images to Docker Hub
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
          myapp_web:latest
          myapp_mysql:latest
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: Deploy to staging environment
      uses: appleboy/ssh-action@master
      with:
        host: 80.249.145.150
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          ssh pzheleznikova@80.249.145.150 "docker pull pzheleznikova/myapp_web:latest && docker pull pzheleznikova/myapp_mysql:latest && docker-compose -f docker-compose up -d"
