name: Python Application CI/CD

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Setup docker-compose
      uses: KengoTODA/actions-setup-docker-compose@v1.0.9
      with:
        version: 1.29.1
        
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build images and run tests
      run: |
        docker compose build
        docker images
        docker-compose run web python -m unittest discover -p "test_*.py"
        docker compose down
        
    - name: Push images to Docker Hub
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
          docker.io/pzheleznikova/sentimentanalys:myapp-mysql
          docker.io/pzheleznikova/sentimentanalys:myapp-web
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Deploy to staging environment
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        USERNAME: ${{ secrets.USERNAME }}
        PORT: ${{ secrets.PORT }}
        KEY: ${{ secrets.SSHKEY }}
        script: |
          ssh root@31.184.253.48 "docker pull docker.io/pzheleznikova/sentimentanalys:myapp-web && docker pull docker.io/pzheleznikova/sentimentanalys:myapp-mysql && docker-compose -f /github/workspace/docker-compose.yml up -d"
